body {
    font-family: arial;
    font-size: 1.5em;
    margin-top: 20px;
    background-image: url("images/anarchy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
/*NAVIGATION START*/

.navBar {
    width: 50%;
    height: 30px;
    margin: 0 auto;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 5px;
}
.mainContainer {
    width: 290px;
    height: 30px;
    margin: 0 auto;
    padding: 0px;
}
.mainContainer li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.subLinks3 {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    padding: 0;
    margin: 0 auto;
    margin-top: 2px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    z-index: 10;
}
.subLinks3 a {
    color: white;
}
.subLinks3 li {
    float: left;
    text-align: center;
    width: 100%;
    margin: 5px;
    font-size: .7em;
    text-decoration: underline;
}
/*NAVIGATION END*/
/*BODY START*/

.pageTitle {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
    margin-top: 30px;
    background-color: black;
    border-radius: 10px;
    padding-top: 3;
    padding-bottom: 3;
}
.mainContent {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.introSection {
    width: 30%;
    height: auto;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #F45959;
    border-radius: 5px;
    color: #C4C4C4;
    flex-grow: 1;
    text-align: center;
}
iframe {
    width: 80%;
    height: 315px;
}
.newsLink {
    color: #EB981B;
    font-size: 24px;
}
.newsLink:hover {
    color: #E22323;
}
.newsImage {
    width: 70%;
}
/*BODY END*/
