body {
    font-family: arial;
    font-size: 1.5em;
    margin-top: 20px;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
/*NAVIGATION START*/

.navBar {
    width: 50%;
    height: 30px;
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 5px;
}
.mainContainer {
    width: 290px;
    height: 30px;
    margin: 0 auto;
    padding: 0px;
}
.mainContainer li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.subLinks3 {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    padding: 0;
    margin: 0 auto;
    margin-top: 2px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 10;
}
.subLinks3 a {
    color: white;
}
.subLinks3 li {
    float: left;
    text-align: center;
    width: 100%;
    margin: 5px;
    font-size: .7em;
    text-decoration: underline;
}
/*NAVIGATION END*/
/*BODY START*/

.newsLink {
    color: #1CEA83;
}

.pageTitle {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
}

.mainContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}
.introSection {
    width: 25%;
    height: auto;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid #68E6E2;
    border-radius: 5px;
    color: white;
    flex-grow: 1;
}
.mainIntro {
    width: 100%;
    font-size: 24px;
}

#slideshow {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}

.slide{
 width: 300px;
 height: 300px;
 position: absolute;
 left: -500px;
 top: 0px;
}
.slide2{
 width: 300px;
 position: absolute;
 left: -500px;
 top: 300px;
 background-color: skyblue;
}

#ebola{
 position: relative;
 left: 150px;
 top: 20px;
}

#ebolanews{
    width: 465px;
    position: relative;
    left: 150px;
    top: 0px;
}
/*BODY END*/
